# Resource Definiation for the VM Template
source "vsphere-iso" "vm-packer" {
  # vCenter connection settings 
  vcenter_server      = "192.168.220.102"
  username            = "administrator@vsphere.palladu38.me"
  password            = "Sdfgh123$"
  insecure_connection = true

  # VM general settings 
  vm_name = "{{ vm_namePKR }}"
  # folder  = "Temp"
  # cluster = ""
  host      = "37.187.132.7"
  datastore = "STORAGE_Amad"

  # CPU settings
  CPUs         = "{{ cpuPKR }}"
  CPU_hot_plug = true
  # cpu_cores    = "4"  
  
  # Memory settings
  RAM          = "{{ memoryPKR }}"
  RAM_hot_plug = true

  # Network settings
  network_adapters {
    network = "{{ netPKR }}"
    network_card = "{{ netCardPKR }}"
  }
  
 # Hard disk settings 
  disk_controller_type = ["pvscsi"]
  storage {
    disk_size = {{ disk_sizePKR1 }} 
    disk_controller_index = 0
  }

  # ISO configuration
  iso_checksum = "{{ iso_checksumPKR }}"
  iso_url      = "{{ iso_url_PKR }}"
  
  boot_command = [
    "<wait10s>c",
    "linux /casper/vmlinuz quiet ip={{ ipPKR }}::{{ gwPKR }}:{{ maskPKR }}::::{{ dnsPKR }}  autoinstall ds=nocloud-net\\;s=http://192.168.220.7/ ---<wait>",
    "<enter><wait10s>",
    "initrd /casper/initrd",
    "<enter><wait15s>",
    "<wait>boot<wait><enter>"
  ]  

  # boot                      = "c"
  boot_wait                 = "5s"
  ssh_host = "{{ ipPKR }}"
  ssh_username = "{{ userPKR }}" 
  ssh_password = "{{ mdpPKR }}"
  ssh_timeout               = "20m"
  ssh_clear_authorized_keys = true
  ssh_port                  = "{{ sshPortPKR }}"
  ssh_certificate_file      = "{{ sshPubPKR }}"
}

  # Build Definition to create the VM Template
build {
  name    = "vm creation"
  sources = ["source.vsphere-iso.vm-packer"]

    # Add additional provisioning scripts here
  # ...
  provisioner "shell" {
    script       = "{{ scriptPKR1 }}"
    pause_before = "10s"
  }
}
